doctype html
html
  head
    title=Virtuous
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    block head
    
  body
    block content

    script(type="text/javascript", src='https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.js')
    script(type="text/javascript", src='https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react-dom.js')
    script(type="text/javascript", src='https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.24.2/babel.js')

    script(type="text/javascript", src="https://code.jquery.com/jquery-3.2.1.js", integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=", crossorigin="anonymous")
    script(type="text/javascript", src="https://code.jquery.com/ui/1.12.1/jquery-ui.js", integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=", crossorigin="anonymous")
