body {
  overflow-y: hidden;
  background-color: black;
}

.container-fluid {
	padding:0px;
}

/*APP*/

	.content {
		height: 85vh;
		background-color: white;
	}

	.row {
		padding: 0px;
		margin: 0px;
	}

/*NAV*/

	#nav {
		background-color: black;
		height: 10vh;
		color: white;
	}
	#nav * {
		height: 100%;
		width: height;
		position: relative;
	}
	.btn-circle {
	 	border-radius: 50%;
	}
	.btn-nav {
	 	background-color: white;
	 	color: white;
	}
	.btn-nav:hover {
		font-size: 200%;
		color: white;
	}
	.logout {
		padding-top: 20px;	
	}

	.glyphicon {
		font-size: 200%;
		color: black;
	}
	.fa {
		font-size: 200%;
		color: black;
	}
	.glyphicon:hover {
		font-size: 250%;
		color: black;
	}
	.fa:hover {
		font-size: 250%;
		color: black;
	}

/*New Call For Help*/

	textarea {
		resize: none;
	}

	.form-group {
		padding: 2vh;
	}

	#submit {
		margin-top: 5vh;
	}

	.btn-black {
		color: white;
		background-color: black
	}
	.btn-black:hover {
		border-color: black;
		color: black;
		background-color: white;
	}
	#submit {
		margin-top: 3.25%;
	}

/*Activity*/

	#list {
		background-color: white;
		height: 100%;
		overflow-y: scroll;
		scrollbar-base-color: orange; 
	}
	#details {
		background-color: white;
		height: 100%;
	}
	.call-list-item {
		height: 15vh;
		background-color: black;
		overflow-y: hidden;
		margin: 2vh;
		color: white;
	}
	#top-half-details {
		height: 35vh;
	}
	#bottom-half-details {
		height: 40vh;
		overflow-y: hidden
		width: 100%;
		overflow-y: scroll;
		margin-top: 2vh;
	}
	#middle-details {
		height: 5vh;
	}
	#top-half-details > *{
		margin-top: 3vh;
	}	
	#bottom-half-details > *{
		margin-top: 3vh;
	}
	.listItem-title {
		margin-top: 0%;
	}
	.chat-item {
		background-color: black;
		color: white;
		margin-top: 2vh;
	}
	.top-options {

	}
	#btn-options  {
		margin-top: 8vh;
	}
	#middle-details {
		text-align: center;
	}

/*Notifications*/

		#notifications {
		position: fixed;
		top:12vh;
		left: 72vw;
		background-color: black;
		color: white;
		width: 15vw;
		height: 25vh;
		word-wrap: break-word;
		overflow-y: scroll;
		border-color: white;
	}

	.notifItem {
		border-bottom: solid;
		border-color: white;	
	}